<div class="jumbotron co-md-4 fondo-claro">
	<h1 class="display-4">Lleva el control del inventario de todas tus empresas de forma organizada.</h1>
	<p class="lead">Está pagina surge del tutorial de Fatz de como crear un bloc de notas.</p>
	<hr class="my-4">
	<p>Herramientas utilizadas para crear la página</p>
	<ul>
		<li>NodeJS
			<ol>
				<li>Bcryptjs</li>
				<li>Connect-flash</li>
				<li>Express</li>
				<li>Express-handlebars</li>
				<li>Express-session</li>
				<li>Express-fileupload</li>
				<li>Method-override</li>
				<li>Mongoose</li>
				<li>Passport</li>
			</ol>
		</li>
		<li>JavaScript</li>
		<li>HTML5</li>
		<li>CSS</li>
		<li>Boostrap</li>
		<li>Jquery</li>
		<li>Popper</li>
		<li>Chart</li>
		<li>Feather</li>
	</ul>
	<a href="/users/signup" class="btn btn-primary btn-lg">Ir al sitio</a>
</div>