<!-- el footer de todas las páginas -->
<footer class="footer mt-auto py-3">
  <div class="container">
    <span class="text-muted">Webmaster: Carlos Rafael Suárez Puerta 2020</span>
  </div>
</footer>